/* src/components/Footer.css */
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%; /* Make it full-width */
  background-color: rgba(33, 37, 41, 1); /* Example footer background */
  color: white; /* Footer text color */
  text-align: center;
  padding: 10px 0;
}

.social-icons {
  margin-bottom: 10px;
}

.social-icons a {
  color: white;
  margin: 0 15px;
  font-size: 24px; /* Adjust size as needed */
  text-decoration: none;
}

.social-icons a:hover {
  color: #007bff; /* Change color on hover */
}
